[submodule "miniAVRfreeRTOS"]
	path = miniAVRfreeRTOS
	url = https://github.com/tiagolobao/miniAVRfreeRTOS.git
	branch = dependencyVersion_InoBencher
[submodule "heaplessLinkedList"]
	path = heaplessLinkedList
	url = https://github.com/tiagolobao/heaplessLinkedList
	branch = main
[submodule "avrcurses"]
	path = avrcurses
	url = https://github.com/tiagolobao/avrcurses.git
	branch = avrDevelopMain
